h1{
    color: black;
    text-align: center;
}


.container{
color:black;
    background:url(Pictures/istockphoto-861188910-612x612.jpg) no-repeat;
    background-position: center center;
    background-size: cover; 
  
    height: auto;
    width: 100%;
 
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 2000px;
}

.opacity{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    width:70%;
    height: 100%;
    opacity: 0.6;
    background-color: lightpink;
}

button{
    margin-top: 61px;
    text-align: center;
    justify-content: center; 
 
}

.Products{
    text-align: center;
    justify-content: center;
    margin-top: 80px;

}
.soldProductRecord{
   /* display: flex; */

    text-align: center;
    justify-content: center;
    margin-top: 20px;


}
.calculations{
    display: flex;
    justify-content: space-around ;
}